<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287592534697-v57ifak945it92st0gc89fdhit8qcj3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287592534697-v57ifak945it92st0gc89fdhit8qcj3t</string>
	<key>API_KEY</key>
	<string>AIzaSyBdNwck1ymu3kJg9bWqsPC5_gss9CdxoQY</string>
	<key>GCM_SENDER_ID</key>
	<string>287592534697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-794f7</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-794f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287592534697:ios:d3c23da2df6d332744cfb8</string>
</dict>
</plist>